<!-- tasks.html -->
{{ define "title" }}Tasks{{ end }}

{{ define "content" }}

<table class="table-auto w-full border-collapse border border-gray-600 dark:text-white">
    <thead class="dark:bg-gray-800">
        <tr >
            <th class="border dark:text-gray-200 px-4 dark:bg-gray-800  py-1 text-left w-92">Task</th>
            <th class="border dark:text-gray-200 px-4 dark:bg-gray-800 py-1 text-center w-32">Completed</th>
            <th class="border dark:text-gray-200 px-4 dark:bg-gray-800 py-1 text-right">Created At</th>
            <th class="border dark:text-gray-200 px-4 dark:bg-gray-800 py-1 text-left">Completed At</th>
            <th class="border dark:text-gray-200 px-4 dark:bg-gray-800 py-1 text-left w-[200px]">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Tasks }}
        <tr class="hover:bg-gray-800">
            <td class="border dark:text-gray-400  px-4 py-1">{{ .Task }}</td>
            <td class="border dark:text-gray-400 px-4 py-1 text-center text-2xl">{{ if .Done }}✅{{ else }}❌{{ end }}</td>
            <td class="border dark:text-gray-400 px-4 py-1 text-right">{{ .CreatedAt | formatDate }}</td>
            <td class="border dark:text-gray-400 px-4 py-1 text-left">{{ .CompletedAt | formatDate}}</td>
            <td class="border dark:text-gray-400 px-4 py-1 mx-auto">
                <div class="flex gap-2">
                    <form action="/todos/complete" method="POST">
                        <input type="hidden" name="id" value="{{ .Id }}">
                        <button type="submit" class="cursor-pointer bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded">Complete</button>
                    </form>

                    <form action="/todos/delete" method="POST">
                        <input type="hidden" name="id" value="{{ .Id }}">
                        <button class="cursor-pointer bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded">Delete</button>
                    </form>
                    
                </div>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}